<h2>Users Data</h2>

<div class="row">
  <div class="col-md-8">

    <table class="hoverable">
      <thead>
        <tr>
          <th>Nim</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userObj">
          <td data-label="Nim">{{ user.id }}</td>
          <td data-label="Name">{{ user.name }}</td>
          <td data-label="Action" *ngIf="nim != user.id; else adminShow">
            <a href="javascrip:;" (click)="setEditForm(user.id)">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascrip:;" (click)="deleteData(user.id)">Delete</a>
          </td>
          <ng-template #adminShow>
            <td>
              <mark class="secondary">{{ user.access }}</mark>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="col-md-4">

    <div class="card" *ngIf="addForm">

      <h3 class="section dark">Add user</h3>
      <span class="button error" *ngIf="errorM">Invalid!</span>
      <span class="button success" *ngIf="successM">Success</span>
      <div class="section">
        <input type="text" placeholder="Name" [(ngModel)]="userData.name">
      </div>
      <div class="section">
        <input type="text" placeholder="Nim" [(ngModel)]="userData.nim">
      </div>

      <button class="primary" (click)="saveData()" *ngIf="btnSave">Save</button>
      <div style="text-align: center;" *ngIf="loading">
        <div class="spinner primary"></div>
      </div>

    </div>

    <div class="card" *ngIf="editForm">

      <h3 class="section dark">Update user</h3>

      <span class="button error" *ngIf="errorM">Invalid!</span>
      <span class="button success" *ngIf="successM">Success</span>

      <div class="section">
        <input type="text" placeholder="Name" [(ngModel)]="userData.name">
      </div>
      <div class="section">
        <input type="text" placeholder="Nim" [(ngModel)]="userData.nim">
      </div>

      <button class="primary" (click)="updateData()" *ngIf="btnSave">Update</button>
      <div style="text-align: center;" *ngIf="loading">
        <div class="spinner primary"></div>
      </div>

    </div>

  </div>
</div>
