<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 sidebar">
      <div class="menu-title">
        <h1>Hima Admin</h1>
      </div>
      <ul class="menu">
        <li class="menu-item"><a href="javascript:;" routerLink="dashboard">Dashboard</a></li>
        <li class="menu-item"><a href="javascript:;" routerLink="user">Users</a></li>
        <li class="menu-item"><a href="javascript:;" routerLink="candidate">Candidates</a></li>
        <li class="menu-item"><a href="javascript:;">Setting</a></li>
      </ul>
    </div>
    <div class="col-lg-10 col-md-10">
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
